### Question 1

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
>>> b()
>>> b()
>>> b()
>>> a

6

### Question 2

In [28]:
def fileLength(filename):
    try:
        infile = open(filename)
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print(f"File {filename} not found.")

In [30]:
print(fileLength('filelength.txt'))

123

In [31]:
print(fileLength('midterm.py'))

File midterm.py not found.
None

### Question 3

In [15]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [16]:
class Marsupial:
    def __init__(self):
        self.pouch = []
 
    def put_in_pouch(self, item):
        self.pouch.append(item)
 
    def pouch_contents(self):
        return self.pouch
 
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__() 
        self.x = x
        self.y = y
 
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
 
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
 
 
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  
 
k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### Question 4

In [20]:
def collatz(x):
    print(x) 
    
    if x == 1:
        return  
    
    if x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [21]:
collatz(1)

1

In [22]:
collatz(10)

10
5
16
8
4
2
1

### Question 5

In [7]:
def binary(n):
    
    if n < 0:
        raise ValueError
    
    if n == 0:
        print(0, end='') 
    elif n == 1:
        print(1, end='')  
    else:
        binary_representation(n // 2) 
        print(n % 2, end='')

In [8]:
binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

### Question 6

In [9]:
from html.parser import HTMLParser
 
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0
 
    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.heading_level = int(tag[1])
 
    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False
 
    def handle_data(self, data):
        if self.in_heading:
            print(' ' * (self.heading_level - 1) + data.strip())
 
infile = open('w3c1.html')
content = infile.read()
infile.close()
 
 
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

### Question 7

In [10]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent, visited=None, max_links=5):
    if visited is None:
        visited = set()

    if depth < 0 or url in visited:
        return
    
    visited.add(url)
    print(' ' * indent + url)
    
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        links = soup.find_all('a')
        count = 0
        for link in links:
            href = link.get('href')
            if href and href.startswith('http') and count < max_links:
                count += 1
                webdir(href, depth - 1, indent + 2, visited, max_links)
    except requests.exceptions.RequestException as e:
        print(f"Error: {e}")

webdir('https://ca.indeed.com/', 2, 0)

https://ca.indeed.com/
  https://www.cloudflare.com/5xx-error-landing
    https://dash.cloudflare.com/login
    https://community.cloudflare.com/
    https://support.cloudflare.com/
    https://dash.cloudflare.com/?to=/:account/support
    https://developers.cloudflare.com/support/account-management-billing/common-account-questions/login-and-account-issues/

### Question 8

In [11]:
import sqlite3

conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Weather (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

cursor.executemany('''
    INSERT INTO Weather (City, Country, Season, Temperature, Rainfall) VALUES (?, ?, ?, ?, ?)
''', [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
])

In [12]:
conn.commit()

def run_query(query):
    cursor.execute(query)
    for row in cursor.fetchall():
        print(row)

In [14]:
print("Temperature data:")
run_query("SELECT Temperature FROM Weather")

Temperature data:
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [15]:
print("All the cities, without repetition:")
run_query("SELECT DISTINCT City FROM Weather")

All the cities, without repetition:
('Mumbai',)
('London',)
('Cairo',)

In [16]:
print("Weather records for India:")
run_query("SELECT * FROM Weather WHERE Country = 'India'")

Weather records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [17]:
print("Fall records:")
run_query("SELECT * FROM Weather WHERE Season = 'Fall'")

Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [18]:
print("The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
run_query("""
    SELECT City, Country, Season 
    FROM Weather 
    GROUP BY City, Country, Season 
    HAVING AVG(Rainfall) BETWEEN 200 AND 400
""")

The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [19]:
print("The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
run_query("""
    SELECT City, Country 
    FROM Weather 
    WHERE Season = 'Fall' 
    GROUP BY City, Country 
    HAVING AVG(Temperature) > 20 
    ORDER BY AVG(Temperature)
""")

The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')

In [20]:
print("Total annual rainfall for Cairo:")
run_query("SELECT SUM(Rainfall) AS TotalAnnualRainfall FROM Weather WHERE City = 'Cairo'")

Total annual rainfall for Cairo:
(82.8,)

In [21]:
print("Total rainfall for each season:")
run_query("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM Weather GROUP BY Season")
conn.close()

Total rainfall for each season:
('Fall', 1707.0)
('Spring', 576.9)
('Summer', 5119.5)
('Winter', 690.3)

### Question 9

In [22]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [23]:
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [24]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [25]:
word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_details)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [26]:
words_with_4_or_more_chars = [word for word in words if len(word) >= 4]
print(words_with_4_or_more_chars)

['quick', 'brown', 'jumps', 'over', 'lazy']